* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hidden {
    display: none;
  }
  #dog-images{
    padding-top: 20px;
    width: 80%;
    margin-left: 13%;
    
  }
